Eager to get back to Python. We'll start some EDA before we continue with our next step, which is TBD.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../data/chicago_taxis_i.csv')
print(df.shape)
df.head()

(20000, 24)

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location,tip_percentage
0,b6107a385e5315c7db84cfb4c0cdcbd559f0c546,6044d36156bafade2dca6aef43dfd1a8872acc87eda212...,2013-01-01 00:00:00.000000 UTC,2013-01-01 00:00:00.000000 UTC,60.0,0.0,NaN,NaN,NaN,NaN,...,12.65,Credit Card,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN,0.31
1,4566c4c4cade42723ab8fb0accb3c9a72ef0dab5,c8c06b617e9905ed97fdfbc3faad229e0f08cca8b49660...,2013-01-01 00:15:00.000000 UTC,2013-01-01 00:00:00.000000 UTC,NaN,0.0,NaN,NaN,NaN,NaN,...,14.05,Credit Card,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN,0.55
2,ebd701f903d62d80139629dff6d22761a079ac78,8de0e6d62efb41e049bcc13474cd662275376b7fbdc435...,2013-01-01 00:15:00.000000 UTC,2013-01-01 00:15:00.000000 UTC,0.0,0.0,NaN,NaN,NaN,NaN,...,7.95,Credit Card,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN,0.14
3,220f2d95c98b6de2ce02ad9742c04326a07ff0e9,d1cb0b38e64d922ac1b61791a9cc03cd203fee1cfbef86...,2013-01-01 00:45:00.000000 UTC,2013-01-01 00:45:00.000000 UTC,NaN,0.0,NaN,NaN,NaN,NaN,...,11.35,Credit Card,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN,0.15
4,00473449f5735a498f20ccc74fa4cecac56a02eb,fde19ec03aff596c336d61b096d8c2397829369021f366...,2013-01-01 01:00:00.000000 UTC,2013-01-01 01:00:00.000000 UTC,NaN,0.0,NaN,NaN,NaN,NaN,...,10.00,Credit Card,Taxi Affiliation Services,NaN,NaN,NaN,NaN,NaN,NaN,0.18